/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


 #stop{
 	-fx-background-image: url("../images/Stop.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
 }
 
 #play{
 	-fx-background-image: url("../images/Play.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
 }
 
 #pause{
	-fx-background-image: url("../images/Pause.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
 }
 
 #fast{
 	-fx-background-image: url("../images/FastForward.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
 
 }
 
 
 #slow{
 	-fx-background-image: url("../images/Rewind.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
 
 }
 
 #repeat{
 	-fx-background-image: url("../images/Repeat.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
 }
 
 #hbox{
 	-fx-opacity: 0.05;	
 	-fx-background-color: SLATEGRAY;
 }
 
 #hbox:hover{
 	-fx-opacity: 1;
 }
